<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>AppChat</title>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet">

<meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename="assets/css/style.css")}}">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="wrapper">
    <div class="container">
        <div class="left">
            <div class="top-bar" style="display: flex; justify-content: center;">
                <form action="/logout" method="POST">
                    <button type="submit" id="logoutBtn">Logout</button>
                </form>
                <form action="/download_keys" method="POST">
                    <button type="submit" id="logoutBtn">Download Keys</button>
                </form>
            </div>
            <ul class="people">
                {% for user in users%}
                    <li class="person" data-chat="{{user}}">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/thomas.jpg" alt="" />
                        <span class="name">{{user}}</span>
                        <span class="time"></span>
                        <span class="preview"></span>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="right">
            <div class="top"><span class="name"></span></div>
            {% for user in users %}
                <div class="chat" data-chat="{{user}}">
                    {% for mensaje in messages %}
                        {% if mensaje[0] == user or mensaje[1] == user%}
                            {% if mensaje[0] != user%}
                                <div class="bubble you">
                            {% else %}
                                <div class="bubble me">
                            {% endif %}
                                {{mensaje[2]}}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
            <div class="write">
                <input type="text" id="messageInput"/>
                <a class="write-link send" id="sendButton" style="cursor: pointer;"></a>
            </div>
        </div>
    </div>
</div>
<!-- partial -->
<script src="{{ url_for('static', filename="assets/js/script.js")}}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
<script type="text/javascript">
    document.getElementById('sendButton').addEventListener('click', sendMessage);
    document.getElementById('logoutBtn').onclick = handleDownloadKeys;
    
    const socket = io();

    function handleDownloadKeys(event) {
        socket.disconnect();
    }

    socket.on('connect', () => {
        console.log("conectado");
        setupChatListeners();
    });
    
    socket.on('user_logged_in', function(data) {
        const user = data.username

        let peopleList = document.querySelector('.people');
        if (!peopleList) {
            peopleList = document.createElement('ul');
            peopleList.className = 'people';
            document.querySelector('.left').appendChild(peopleList);
        }
        
        const existingPersons = document.querySelectorAll('.people .person');
        const li = document.createElement('li');
        li.className = 'person';
        li.setAttribute('data-chat', `${user}`);

        li.innerHTML = `
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/thomas.jpg" alt="" />
            <span class="name">${user}</span>
            <span class="time"></span>
            <span class="preview"></span>
        `;

        const div_chat = document.createElement('div');
        div_chat.className = "chat";
        div_chat.setAttribute('data-chat', `${user}`);

        document.querySelector('.people').appendChild(li);
        document.querySelector('.top').insertAdjacentElement('afterend', div_chat);
        setupChatListeners();
    });

    socket.on('user_logged_out', function(data) {
        const user = data.username;
        console.log(data);
        
        const existingPersons = document.querySelectorAll('.people .person');
        existingPersons.forEach(person => {
            const personName = person.querySelector('.name').textContent;
            if (personName === user) {
                if (person.classList.contains('active')) {
                    const chatContainer = chat.container.querySelector('.active-chat');
                    if (chatContainer) {
                        chatContainer.classList.remove('active-chat');
                    }
                    chat.name.innerHTML = '';
                }
                person.remove();
            }
        });

        const existingChats = document.querySelectorAll('.chat');
        existingChats.forEach(chat => {
            const chatName = chat.dataset.chat;
            if (chatName === user) {
                chat.remove();
            }
        });
        
        setupChatListeners();
    });
    
    socket.on('update_messages', function(data) {
        const recipients = document.querySelectorAll('.people .person .name');

        recipients.forEach(recipient => {
            if (recipient.textContent.trim() === data.sender) {
                const personElement = recipient.closest('.person');
                const chatData  = personElement.getAttribute('data-chat');
                const chatDiv = document.querySelector(`.chat[data-chat="${chatData}"]`);
                chatDiv.innerHTML += `<div class="bubble you">${data.message}</div>`;
            }
        });
    });

    function sendMessage() {
        console.log("Send message function called");
        const message = document.getElementById('messageInput').value;
        const username = {{ username|tojson }};
        const recipient = document.querySelector('.people .person.active .name').textContent;
        if (!message || !recipient) return;

        socket.emit('send_message', {
            username: username,
            message: message,
            recipient: recipient
        });
        document.getElementById('messageInput').value = '';
        const chatData = document.querySelector('.people .person.active').getAttribute('data-chat');
        const chatDiv = document.querySelector(`.chat[data-chat="${chatData}"]`);
        chatDiv.innerHTML += `<div class="bubble me">${message}</div>`;
    }
</script>
</body>
</html>
